.index-page-body {
  background-color: rgba(15, 15, 105);
}

.index-page-h1 {
  text-align: center;
  color: white;
}

.index-page-article {
  background-color: blue;
  border: 2px solid grey;
  border-radius: 4px;
  box-shadow:  0px 0px 20px 10px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.index-page-main section a,
.index-page-main section a:visited,
.index-page-main section article p {
  background-color: blue;
  color: white;
  font-size: 1.75em;
  text-decoration: none;
}

.index-page-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  margin-top: 50px;
}

p {
  color: white;
  font-size: 1.5em;
  text-align: center;
  width: 40vw;
  margin: 0 auto;
}