* {
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  text-align:center
}

.my-photo {
  border-radius: 20px;
}

.menu {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100vw;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menu li {
  margin-bottom: 0.25em;
}

.menu a {
  color: white;
  font-size: 1.25em;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

main p {
  font-size: 1.2em;
  padding: 0 0.25em;
}

p.contact-paragraph {
  margin-bottom: 50px;
  text-align: center;
}

form.contact-dane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  width: 90vw;
}

form.contact-dane label {
  margin-bottom: 0.25em;
}

form.contact-dane input,
form.contact-dane textarea {
  margin-bottom: 1em;
}

.send-to-dane {
  background-color: blue;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 250px;
  width: 50vw;
  align-self: center;
}

footer p {
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .menu {
    background-color: blue;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  .menu li {
    margin-right: 5vw;
  }

  form.contact-dane {
    width: 50vw;
  }
}