* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25em;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.hero {
  text-align: center;
  margin-bottom: 1em;
}

.my-photo {
  border-radius: 20px;
}

.menu {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

.menu li {
  margin-bottom: 0.25em;
}

.menu a {
  color: white;
  font-size: 1.25em;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

h2, h3, h4, h5 {
 margin-left: 10px;
 margin-bottom: 0.25em;
}

h2.blog-title {
  text-align: center;
}

article img {
  padding-left: 1em;
}

main ul,
main ol {
  margin-left: 5em;
  margin-bottom: 1em;
}

main p {
  line-height: 1.25em;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

main ol {
  list-style-type: number;
}

article {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 80%;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 1em;
}

th {
  width: 20%;
}

th, td {
  border: 1px solid black;
  overflow-wrap: break-word;
  padding: 10px;
}

th {
  background-color: grey;
}

td {
  background-color: white;
}

.blog-figure {
  margin-bottom: 1em;
  text-align: center;
}

p.contact-paragraph {
  margin-bottom: 2em;
  text-align: center;
}

span.publish-date {
  font-style: italic;
}

form.contact-dane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  width: 90vw;
}

form.contact-dane label {
  margin-bottom: 0.25em;
}

form.contact-dane input,
form.contact-dane textarea {
  margin-bottom: 1em;
}

.send-to-dane {
  background-color: blue;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 250px;
  width: 50vw;
  align-self: center;
}

footer {
  margin: 1.25em auto;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .menu {
    background-color: blue;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }

  form.contact-dane {
    width: 50vw;
  }

  table {
    width: 60%;
  }

  th {
    width: 15%;
  }
}